<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ввод штрих-кода</title>
    <link rel="stylesheet" href="styles/QRcodeStyle.css">
</head>
<body>
<div class="container">
    <div class="scan-container">
        <h1>Введите штрих-код вручную</h1>

        <div class="barcode-input">
            <input type="text" id="barcode-input" placeholder="Введите цифры штрих-кода" autofocus>
        </div>

        <button class="submit-btn" id="submit-btn">Добавить товар</button>
    </div>

    <a href="/" class="cancel-btn">Отмена</a>
</div>
</body>
<script src="scripts/QRcodeScript.js"></script>
</html>